.capçalera {
    display: flex;
    background-color: rgb(49, 213, 210);
    align-items: center;
}
.capçalera img {

    flex: 0;
    border-radius: 10%;
}
.capçalera h1 {
    flex: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.botons-horizontals {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center; /* Alinea los elementos en el centro horizontalmente */

}

.botons-horizontals li{
    margin-right: 10px; /* Espacio entre los elementos de la lista si lo deseas */

}
.botonera-horizontals a {
    display: block;
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

.bio h1 {
    text-align: center;
    flex:0;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;

}