:root {
    --font-family: font-family: 'Roboto', sans-serif;
    --background-color: #EAFFDA;

}

body {
    margin-top: 3%;
}

h1 {
    flex: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    font-weight: bold;
}

.capçalera {
    display: flex;
    /*background-color: rgb(49, 213, 210);*/
    align-items: center;
    margin-bottom: 3%;
}

.capçalera img {
    margin-inline-start: 3%;
    flex: 0;
    border-radius: 10%;
}

.capçalera h1 {
    flex: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

nav {

    position: sticky;
    /* Establece la posición fija */

    top: 20px;
    /* Ajusta la parte superior del menú fijo */

    width: 100%;
    /* Ocupa el 100% del ancho de la ventana */

    z-index: 1000;
    /* Ajusta el índice z para que esté por encima del contenido */

}

.botons-horizontals {
    display: flex;
    list-style: none;
    /* Elimina els punts de la llista*/
    padding: 0;
    justify-content: center;
    /* Alinea los elementos en el centro horizontalmente */
}

.botons-horizontals li {
    margin-right: 10px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    /* Espacio entre los elementos de la lista si lo deseas */

}

.botonera-horizontals a {
    display: block;
    text-decoration: none;
    /* Quita el subrayado de los enlaces */
    margin: auto;

}

.botonsPrincipalsIndex {
    /* Disseny de els botons
    */
    font-family: 'Roboto', sans-serif bold;
    font-weight: bold;
    background-color: #EAFFDA;
    border-radius: 10px;
    width: 110px;
    height: 40px;
    border: 0;
    color: black;
}

.botonsPrincipalsIndex:hover {
    background-color: #67b32d;
    border: 2px solid;
    text-decoration: none;
    cursor: pointer;

}

.btnmovil{
    display: none;
    background-color:none;
}

.bio {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5%;

}

.bio h1 {
    text-align: center;
    padding: 30px;

}

.text {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
    color: #000;
}

section#redes {
    width: 90%;
    margin: 0 auto;

}

.redes {
    display: flex;
    justify-content: space-between;
    /*Afegeix espais entre elements */
    align-items: center;
    margin-bottom: 30px;
}

.logoXarxes {
    padding-top: 60px;
    width: auto;
    height: 100px;
    margin: 10px;
    padding-bottom: 50px;
}


/* Contactame formulari*/
.contactame {
    background-color: #EAFFDA;
    width: 90%;
    height: 100%;
    margin: 80px auto;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;

    /* proba*/
    text-align: center;

}

.formIcon {
    display: block;
    margin: 0 auto;
    max-width: 8%;
    padding-bottom: 2%;
}

.formulari-contact {
    max-width: 400px;
    /* Ancho máximo del formulario */
    margin: 0 auto;
    /* Centra el formulario horizontalmente */

}

.form-group {
    margin-bottom: 15px;
    /* Margen inferior entre elementos del formulario */
}


label {
    display: block;
    /* Coloca las etiquetas en una línea separada */
    margin-bottom: 5px;
    /* Margen inferior para las etiquetas */
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    /* Margen inferior para campos de entrada y área de texto */
    border: 1px solid #ccc;
    /* Borde para campos de entrada y área de texto */
    border-radius: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

/* Portofolio crearem 2 div grans que contendran 3 divs(caixes) en cada una de elles*/


.portofolio-frame {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5%;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.portoCaixa {
    background-color: #EAFFDA;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
    max-width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 10%;
}

.logoProjecte {
    border-radius: 10%;
    max-width: 100%;
    max-height: 100%;
}

/* Estilos adicionales que desees */

/* 

.portofolio-frame {
    /*fila de elements
    display: flex;
    flex-wrap: wrap;
    /*grid-template-columns: repeat(3, 1fr);
    grid-template-columns:minmax();
    grid-gap: 5%;
    gap: 5%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    flex-shrink: 1;
    flex-grow: 1;
}

.portoCaixa {

    background-color: #EAFFDA;
    padding: 10px;
    border-radius: 10%;
    height: auto;
    text-align: center;
    margin-bottom: 0 auto;
}

.portoCaixa img {
    margin-top: 3px;
    max-width: 100%;
    height: 150px;
    width:150px;
    align-items: center;
    border-radius: 10%;
    margin: 0 auto;
}

.portoCaixa h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    text-align: center;
    font-size: 1.5em;
}

+/


/*
.portoCaixa {
    /* Caixa de el projecte
    background-color: #EAFFDA;
    padding: 10px;
    border-radius: 10%;
    height: auto;
    text-align: center;
    margin-bottom: 0 auto;
}

.portoCaixa img {
    max-width: 100%;
    height: 150px;
    width: auto;
    align-items: center;
    border-radius: 10%;
    margin: 0 auto;
}

.portoCaixa h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    text-align: center;
    font-size: 1.5em;
}

*/

.contenedorNivel {
    /* background-color:yellow;*/
    /*  display: flex;*/
    display: flex;
}

.contenedorNivel img {
    max-width: 50px;

}

.llenguatgeNom {
    margin-inline-start: 4%;
    /* background-color:red;*/
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    width: 150px;
    white-space: nowrap;
}

.llenguatgeNom li {
    display: flex;
    align-items: center;

}

.llenguatgeNom img {
    padding-left: 10%;
}

.barraNivel {
    margin-top: 10px;
    margin-bottom: 5px;
    max-width: 95%;
    min-width: 50%;
    margin-right: 10%;
    background-color: #EAFFDA;
    font-size: 24px;
    text-align: center;
    line-height: 3;
    margin-left: 10%;

}

/*

.barraNivel {
    background-color: #EAFFDA;
    flex-direction: column;
    width: auto;
    text-align: center;
    align-items: center;
}
*/


/* CV */
.divCv {
    overflow: auto;
}

.cv {
    margin-top: 10%;
}

.pdf {
    margin-top: 5%;
    width: 100%;
    height: 90vh;
}


/*Experiencia */
.empresa {
    margin-left: 0.5em;
}

.idiomas {
    font-family: 'Roboto', sans-serif;
}

.idioma {
    background-color: #EAFFDA;
    padding: 5%;
    padding-bottom: 5%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-radius: 10%;
    margin: 2%;
}

.idioma h2 {
    font-weight: bold;
}

.blocsIdioma {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.conocimientos li {
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-inline-start: 1em;
}

.conocimientos {
    margin-top: 5%;
}

.conocimientos h2 {
    font-weight: flex;
    text-align: center;
    margin-bottom: 5%;

}

#certificados h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-bottom: 5%;
    padding-top: 5%;

}

#certificados h2 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: underline;
    padding-bottom: 1%;
    margin-inline-start: 5%;
}

.certContainer {
    padding-bottom: 5%;

}


.certContainer img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}






/* Estilos para dispositivos grandes (pantallas de escritorio) */
/* ... tus estilos actuales ... */

/* Estilos para dispositivos más pequeños (pantallas de móviles) */
@media (max-width: 768px) {

    /* Redefine tus estilos aquí */
    .capçalera {
        flex-direction: column;
        /* Cambia la dirección de los elementos en la cabecera para apilarlos verticalmente */
    }

    .capçalera img {
        max-width: 100px;
        /* Ajusta el ancho de la imagen para dispositivos móviles */
    }

    .botons-horizontals {
        flex-direction: column;
        /* Apila los botones verticalmente en dispositivos móviles */
    }

    .botons-horizontals li {
        margin: 1px 0;
        /* Espacio entre los botones en dispositivos móviles */
    }

    .botonsPrincipalsIndex {
        width: 100%;
        /* Haz que los botones ocupen el ancho completo en dispositivos móviles */
    }

    .text {
        margin: 10px;
        /* Agrega margen en dispositivos móviles para mejorar la legibilidad */
    }

    .logoXarxes {
        width: 50px;
        /* Ajusta el tamaño de los logotipos de redes sociales */
        height: auto;
    }

    /* Puedes seguir redefiniendo otros estilos según tus necesidades */
    .llenguatgeNom {
        font-size: 10px;
    }

    .form-group textarea {
        width: 80%;
    }
}