.menu {
    display: flex;
    align-items: center;
}

.botones {
    display: flex;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.desplegable {
    position: relative;
}

.opciones {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    border: 1px solid #ddd;
    z-index: 1;
}

.opciones a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

#menuIcon:hover+.opciones {
    display: block;
}


/*Punt de prova nova */
/*
.scroll-container {
    width: 100%;
    overflow: hidden;

    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scroll-content {
    display: inline-block;
    white-space: nowrap;
}

.scroll-content img {
    width: auto;
    height: 100px;
    margin-right: 10px;
}


@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
*/

.scroll-container {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.scroll-content {
    display: inline-block;
}

.scroll-content img {
    width: auto;
    height: 100px;
    margin-right: 10px;
    /* Espacio entre imágenes */
}