
.scroll-container {
    width: 100%;
    overflow:auto;
    white-space: nowrap;
    padding: 20px 0;
}

.scroll-content {
    display: inline-block;
}

.scroll-content img {
    width: auto;
    height: 100px;
    margin-right: 5%;
    transition: transform 0.3s ease; 
}
.scroll-content img:hover {
    transform: scale(1.1); /* Escala la imagen al 110% al pasar el ratón sobre ella */
}