/* Oculta el menú desplegable por defecto */

#myDropdown[hidden] {
    display: none;
}

/* Estilo básico del menú desplegable */
#myDropdown {
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: #67b32d;
}

a

/* Cambia el fondo al pasar el ratón sobre los enlaces */
.dropdown-content a:hover {
    background-color: #67b32d;
}

